<article class="main_right"> 
    <img class="author_image" width="273" src="./images/author.png" alt=""/> 
    <h3 class="about__author">About me</h3> 
    <div class="about-author__content"> 
        <p class="about-author__text"> 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </p> 
    </div> 
    <h5 class="main__title top_posts">top posts</h5> 
    <ul class="author_posts"> 
        <li class="post__item li_item"> 
            <a class="post__link">A day exploring the Alps</a> 
            <p class="comments">
                <a class="comment__link">24 comments</a>
            </p> 
        </li> 
        <li class="post__item li_item"> 
            <a class="post__link">American dream</a> 
            <p class="comments">
                <a class="comment__link">19 comments</a> 
            </p>     
        </li> 
        <li class="post__item li_item"> 
            <a class="post__link">Cold winter days</a> 
            <p class="comments">
                <a class="comment__link">15 comments</a>
            </p>
        </li> 
    </ul> 
</article> 