<header class="header">
    <a class="title__link" href="">
        <img src="./images/minimø.png">
    </a>
    <ul class="header__inf-pg">
            <li class="header__lifestyle">
                <a class="item__link" href="" >lifestyle</a>
            </li>
            <li class="header__photo">
                <a class="item__link" href="" >photodiary</a>
            </li>
            <li class="header__music">
                <a class="item__link" href="" >music</a>
            </li>
            <li class="header__travel">
                <a class="item__link" href="" >travel</a>
            </li>
    </ul>
</header>
<div class="main_top"> 
    <img  src="./images/main_image.png" width="1064" alt=""/>
</div>