<footer class="footer"> 
    <ul class="footer__content">
        <li class="footer__item">
            <a class="footer__link">Terms and conditions</a>  
        </li>
        <li class="footer__item">
            <a class="footer__link">Privacy</a>  
        </li>
    </ul>
</footer>